#user_input{width:100%;}
.panel{margin-bottom:8px}
.badge{margin-left:5px;}
h1{
	float:left;
	display:inline-block;
}
#userinformation{
	display: inline-block;float:right;margin: 24px 15px 0 0;
}
p{
	margin-left:8px;
	display: inline-block;
}
#userinformation.btn-danger{
	background-color: #31CDFB;
	color: black;
	border-color:#29A2C5;
}